.wrapper {
  min-height: 80vh;
  padding-top: 70px;
  &.opacity {
    opacity: 0.1;
    transition: 1s;
  }
}

.contact-icon {
  width: 30px;
  @media (max-width: $md) {
    width: 50px;
  }
}

.itachi {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0;
  transition: .5s;
  &.visibility {
    opacity: 1;
  }
}
